# StableFlow API Configuration
VITE_STABLEFLOW_JWT_TOKEN=Your JWT Token

# WalletConnect Project ID (optional, for EVM wallets)
# see https://dashboard.reown.com/
VITE_WALLET_CONNECT_PROJECT_ID=Your WalletConnect Project ID
# StableFlow API host (optional, for special apis)
VITE_STABLEFLOW_API_URL=https://api.stableflow.ai
