# StableFlow API Configuration
VITE_STABLEFLOW_API_URL=https://api.stableflow.ai
VITE_STABLEFLOW_JWT_TOKEN=Your JWT Token

# WalletConnect Project ID (optional, for EVM wallets)
VITE_WALLET_CONNECT_PROJECT_ID=Your WalletConnect Project ID
