# StableFlow API Configuration
NEXT_PUBLIC_STABLEFLOW_API_URL=https://api.stableflow.ai
NEXT_PUBLIC_STABLEFLOW_JWT_TOKEN=Your JWT Token

# WalletConnect Project ID (optional, for EVM wallets)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=Your WalletConnect Project ID
